// header
.header {
  &__img {
    position: fixed;
    width: px-to-vw-pc(450);
    height: px-to-vw-pc(450);
    animation: header-gear-right 7s linear infinite;
    &--open {
      animation: header-gear-left 7s linear infinite;
    }
  }
  &__line-wrap {
    position: fixed;
    top: px-to-vw-pc(55);
    left: px-to-vw-pc(50);
    width: px-to-vw-pc(67);
    height: px-to-vw-pc(50);
    z-index: 1;
    cursor: pointer;
    @include media(sm) {
      top: 7px;
      left: 5px;
      width: 20px;
      height: 15px;
    }
  }
  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: px-to-vw-pc(2);
    background-color: #EAC75A;
    transition: .5s;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
    }
    &:nth-child(3) {
      bottom: 0;
    }
    &--open {
      &:nth-child(1) {
        top: px-to-vw-pc(22);
        transform: rotate(135deg);
        @include media(sm) {
          top: 8px;
        }
      }
      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }
      &:nth-child(3) {
        bottom: px-to-vw-pc(24);
        transform: rotate(-135deg);
        @include media(sm) {
          bottom: 7px;
        }
      }
    }
  }
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(px-to-vw-pc(-550));
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: px-to-vw-pc(40);
    width: px-to-vw-pc(550);
    height: 100vh;
    background: linear-gradient(to right, #07161f, rgba($color: #07161f, $alpha: 0.3));
    padding-left: px-to-vw-pc(100);
    transition: .5s;
    @include media(sm) {
      gap: 18px;
      width: 160px;
      transform: translateX(px-to-vw-pc(-160));
    }
    &--open {
      transform: translateX(0);
    }
  }
  &__link {
    font-size: px-to-vw-pc(60);
    color: #d3d3d3;
    transform: translateX(-550px);
    opacity: 0;
    @include media(sm) {
      font-size: 22px;
    }
    &:nth-child(1) {
      transition: .5s .1s;
    }
    &:nth-child(2) {
      transition: .5s .2s;
    }
    &:nth-child(3) {
      transition: .5s .3s;
    }
    &:nth-child(4) {
      transition: .5s .4s;
    }
    &:nth-child(5) {
      transition: .5s .5s;
    }
    &--open {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
