$breakpoints: (
  xs: "screen and (max-width: 320px)",
  sm: "screen and (max-width: 575px)",
  md: "screen and (max-width: 767px)",
  lg: "screen and (max-width: 991px)",
  xl: "screen and (max-width: 1199px)",
  xxl: "screen and (max-width: 1399px)",
);

@mixin media($breakpoint) {
  @media #{
    map-get($breakpoints, $breakpoint)
  } {
    @content
  }
}
