// 変数定義
:root {
  --offset: 0;
  --first-animation-offset: 0;
  --tenth-animation-offset: 0;
}

// js-floater
.js-floater {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  transition: background-position 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
  @include media(md) {
    display: none;
  }
  &:nth-child(1) {
    background-image: url(../../img/common/bg_hexagon_01.png);
  }
  &:nth-child(2) {
    background-image: url(../../img/common/bg_hexagon_02.png);
  }
  &:nth-child(3) {
    background-image: url(../../img/common/bg_hexagon_03.png);
  }
  &:nth-child(4) {
    background-image: url(../../img/common/bg_hexagon_04.png);
  }
  &:nth-child(5) {
    background-image: url(../../img/common/bg_hexagon_05.png);
  }
}

// gear
.gear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  &__img {
    position: absolute;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
    &:nth-child(1) {
      top: px-to-vw-pc(131);
      left: px-to-vw-pc(210);
      width: px-to-vw-pc(288.24);
      height: px-to-vw-pc(288.24);
      animation: gear-right 7s linear infinite;
    }
    &:nth-child(2) {
      top: px-to-vw-pc(-107.2);
      left: px-to-vw-pc(304);
      width: px-to-vw-pc(227.93);
      height: px-to-vw-pc(227.93);
      animation: gear-left 7s linear infinite;
    }
    &:nth-child(3) {
      top: px-to-vw-pc(80);
      left: px-to-vw-pc(480);
      width: px-to-vw-pc(136);
      height: px-to-vw-pc(136);
      animation: gear-left 7s linear infinite;
    }
    &:nth-child(4) {
      top: px-to-vw-pc(75.1);
      left: px-to-vw-pc(617.2);
      width: px-to-vw-pc(170.47);
      height: px-to-vw-pc(170.47);
      animation: gear-right 7s linear infinite;
    }
    &:nth-child(5) {
      top: px-to-vw-pc(-91.4);
      left: px-to-vw-pc(742.5);
      width: px-to-vw-pc(198.5);
      height: px-to-vw-pc(198.5);
      animation: gear-right 7s linear infinite;
    }
    &:nth-child(6) {
      top: px-to-vw-pc(111.1);
      left: px-to-vw-pc(781.6);
      width: px-to-vw-pc(256.75);
      height: px-to-vw-pc(256.75);
      animation: gear-left 7s linear infinite;
    }
    &:nth-child(7) {
      top: px-to-vw-pc(77.5);
      left: px-to-vw-pc(1017);
      width: px-to-vw-pc(135.5);
      height: px-to-vw-pc(135.5);
      animation: gear-right 7s linear infinite;
    }
    &:nth-child(8) {
      top: px-to-vw-pc(54.7);
      left: px-to-vw-pc(1152);
      width: px-to-vw-pc(217.24);
      height: px-to-vw-pc(217.24);
      animation: gear-left 7s linear infinite;
    }
    &:nth-child(9) {
      top: px-to-vw-pc(-106.2);
      left: px-to-vw-pc(1295.7);
      width: px-to-vw-pc(217.24);
      height: px-to-vw-pc(217.24);
      animation: gear-right 7s linear infinite;
    }
    &:nth-child(10) {
      top: px-to-vw-pc(190.3);
      left: px-to-vw-pc(1326.8);
      width: px-to-vw-pc(224.17);
      height: px-to-vw-pc(224.17);
      animation: gear-right 7s linear infinite;
    }
    &:nth-child(11) {
      top: px-to-vw-pc(54.7);
      left: px-to-vw-pc(1465);
      width: px-to-vw-pc(161.71);
      height: px-to-vw-pc(161.71);
      animation: gear-left 7s linear infinite;
    }
    &:nth-child(12) {
      top: px-to-vw-pc(275.7);
      left: px-to-vw-pc(1546.1);
      width: px-to-vw-pc(230.63);
      height: px-to-vw-pc(230.63);
      animation: gear-left 7s linear infinite;
    }
    &:nth-child(13) {
      top: px-to-vw-pc(323.1);
      left: px-to-vw-pc(1593.5);
      width: px-to-vw-pc(136.61);
      height: px-to-vw-pc(136.61);
      animation: gear-right 7s linear infinite;
    }
    &:nth-child(14) {
      top: 0;
      left: px-to-vw-pc(1629.8);
      width: px-to-vw-pc(288.49);
      height: px-to-vw-pc(288.49);
      animation: gear-right 7s linear infinite;
    }
    &--scroll {
      opacity: .2;
      &:nth-child(1) {
        // top: px-to-vh-pc(620);
        // top: calc(66.16862vh + var(--offset) * 1px);
        // top: px-to-vh-pc(650);
        top: calc(69.37033vh + var(--offset) * 1px);
        // @include media(sm) {
        //   top: px-to-vh-pc(755);
        //   top: calc(92.9803vh + var(--offset) * 1px);
        // }
      }
      &:nth-child(2) {
        // top: px-to-vh-pc(150);
        top: calc(16.00854vh + var(--offset) * 1px);
      }
      &:nth-child(3) {
        // top: px-to-vh-pc(500);
        top: calc(53.36179vh + var(--offset) * 1px);
      }
      &:nth-child(4) {
        // top: px-to-vh-pc(97);
        top: calc(10.35219vh + var(--offset) * 1px);
      }
      &:nth-child(5) {
        // top: px-to-vh-pc(287);
        top: calc(30.62967vh + var(--offset) * 1px);
      }
      &:nth-child(6) {
        // top: px-to-vh-pc(550);
        top: calc(58.69797vh + var(--offset) * 1px);
      }
      &:nth-child(7) {
        // top: px-to-vh-pc(50);
        top: calc(5.33618vh + var(--offset) * 1px);
      }
      &:nth-child(8) {
        // top: px-to-vh-pc(400);
        top: calc(42.68943vh + var(--offset) * 1px);
      }
      &:nth-child(9) {
        // top: px-to-vh-pc(70);
        top: calc(7.47065vh + var(--offset) * 1px);
      }
      &:nth-child(10) {
        // top: px-to-vh-pc(550);
        top: calc(58.69797vh + var(--offset) * 1px);
      }
      &:nth-child(11) {
        // top: px-to-vh-pc(280);
        top: calc(29.8826vh + var(--offset) * 1px);
      }
      &:nth-child(12) {
        // top: px-to-vh-pc(440);
        top: calc(46.95838vh + var(--offset) * 1px);
      }
      &:nth-child(13) {
        // top: px-to-vh-pc(700);
        top: calc(74.70651vh + var(--offset) * 1px);
      }
      &:nth-child(14) {
        top: calc(var(--offset) * 1px);
      }
    }
    &--first-to-bottom {
      top: calc(var(--first-animation-offset) * 1px) !important;
    }
    &--tenth-to-bottom {
      top: calc(var(--tenth-animation-offset) * 1px) !important;
      animation: gear-left 7s linear infinite !important;
      // opacity: 1;
    }
    &--rotate {
      left: px-to-vw-pc(1051) !important;
      // opacity: 1;
      transition: 2.5s;
    }
    &--gold {
      opacity: 1;
      transition: .5s;
    }
  }
}

// kv
.kv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__ttl {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(px-to-vw-pc(80));
    font-size: px-to-vw-pc(80);
  }
  &__sub-ttl {
    font-size: px-to-vw-pc(138);
    font-size: px-to-vw-pc(49);
  }
}

// separator
.separator {
  position: relative;
  display: flex;
  justify-content: center;
  pointer-events: none;
  &--margin-top-300 {
    margin-top: px-to-vw-pc(300);
  }
  &__trajectory {
    width: px-to-vw-pc(3);
    height: px-to-vw-pc(324);
  }
  &__star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: px-to-vw-pc(28);
    height: px-to-vw-pc(28);
    animation: shooting-star 2s infinite;
  }
}

// about-me
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: px-to-vw-pc(200);
  margin-top: px-to-vw-pc(300);
  &__ttl {
    font-size: px-to-vw-pc(60);
  }
  &__txt {
    font-size: px-to-vw-pc(50);
    text-align: center;
    line-height: px-to-vw-pc(80);
  }
}

// skills
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: px-to-vw-pc(300);
  &__ttl {
    font-size: px-to-vw-pc(60);
  }
  &__wrap {
    display: flex;
    justify-content: center;
    gap: px-to-vw-pc(100);
    flex-wrap: wrap;
    width: px-to-vw-pc(1500);
    margin-top: px-to-vw-pc(100);
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: px-to-vw-pc(40);
    width: px-to-vw-pc(700);
  }
  &__skill {
    font-size: px-to-vw-pc(50);
    text-align: center;
  }
  &__level {
    display: flex;
    flex-direction: column;
    gap: px-to-vw-pc(20);
  }
  &__language {
    font-size: px-to-vw-pc(40);
  }
  &__progress-bar {
    display: flex;
    width: 100%;
    height: px-to-vw-pc(50);
    background-color: #fff;
  }
  &__bar {
    display: flex;
    align-items: center;
    gap: px-to-vw-pc(5);
    background-color: #707070;
    font-size: px-to-vw-pc(20);
    color: #fff;
    padding-left: px-to-vw-pc(15);
  }
}

// work
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: px-to-vw-pc(50);
  margin-top: px-to-vw-pc(300);
  &__ttl {
    font-size: px-to-vw-pc(60);
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-vw-pc(40);
    &:hover {
      .work__arrow {
        animation: arrow-to-right .5s;
      }
    }
  }
  &__dummy {
    width: px-to-vw-pc(600);
    height: px-to-vw-pc(350);
    background: #fff;
    border: 1px solid #707070;
  }
  &__txt {
    display: flex;
    gap: px-to-vw-pc(20);
    font-size: px-to-vw-pc(50);
  }
  &__arrow {
    transform: translateY(px-to-vw-pc(8));
    animation: arrow-to-left .5s;
  }
}

// contact
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: px-to-vw-pc(50);
  margin: px-to-vw-pc(300) 0 px-to-vw-pc(600);
  &__ttl {
    font-size: px-to-vw-pc(60);
  }
  &__wrap {
    display: flex;
    flex-direction: column;
  }
  &__txt {
    font-size: px-to-vw-pc(50);
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: px-to-vw-pc(45);
    width: px-to-vw-pc(450);
    height: px-to-vw-pc(76);
    background: #fff;
    border: 1px solid #707070;
    margin: px-to-vw-pc(20) auto;
  }
  &__link-txt {
    font-size: px-to-vw-pc(35);
    transform: translateY(px-to-vw-pc(4));
  }
  &__img {
    width: px-to-vw-pc(55);
    height: px-to-vw-pc(39.51);
  }
}
